<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztwo.yeb.dao.AdminRoleMapper">
  <resultMap id="BaseResultMap" type="com.ztwo.yeb.bean.AdminRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="adminId" jdbcType="INTEGER" property="adminid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
</mapper>