<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztwo.yeb.dao.AppraiseMapper">
  <resultMap id="BaseResultMap" type="com.ztwo.yeb.bean.Appraise">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="appDate" jdbcType="DATE" property="appdate" />
    <result column="appResult" jdbcType="VARCHAR" property="appresult" />
    <result column="appContent" jdbcType="VARCHAR" property="appcontent" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>