<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztwo.yeb.dao.EmployeeEcMapper">
  <resultMap id="BaseResultMap" type="com.ztwo.yeb.bean.EmployeeEc">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="ecDate" jdbcType="DATE" property="ecdate" />
    <result column="ecReason" jdbcType="VARCHAR" property="ecreason" />
    <result column="ecPoint" jdbcType="INTEGER" property="ecpoint" />
    <result column="ecType" jdbcType="INTEGER" property="ectype" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>